<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<!-- Enable displaying the detailed error message directly in an ASP.NET page -->
		<customErrors mode="Off"></customErrors>
		<compilation debug="true">
		</compilation>
	</system.web>
	<system.webServer>
		<!-- Enable error message detail for IIS server error -->
		<httpErrors errorMode="Detailed" />
		<defaultDocument>
			<files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="search.aspx" />
			</files>
		</defaultDocument></system.webServer>
</configuration>
